@charset "UTF-8";
/*Переменные и Контейнеры*/ /*ОБЩИЕ КОНТЕЙНЕРЫ (по медиа)*/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    /*border: 1px solid tomato;*/
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    width: 1600px;
    padding-left: 215px;
    padding-right: 215px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1600px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/*ПЕРЕМЕННЫЕ*/
/*Переменные расширений*/
/*Хедер и Футер*/
/*1 - ХЕДЕР*/
.header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media screen and (min-width: 1600px) {
  .header {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

/*ЛОГО*/
.header-logo {
  display: block;
  font-family: Raleway, Arial, sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1600px) {
  .header-logo {
    font-size: 26px;
    line-height: 31px;
  }
}

.header-logo-accent {
  font-family: Raleway, Arial, sans-serif;
  color: #2196f3;
}

/*БУРГЕР*/
.burger-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.burger-button .icon-cross {
  display: block;
}

.burger-button .icon-menu {
  display: none;
}

.burger-button.is-open .icon-menu {
  display: block;
}

.burger-button.is-open .icon-cross {
  display: none;
}

/*МЕНЮ*/
.header .container {
  position: relative;
}

.menu-container {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 100%;
  left: 0;
  width: 480px;
  background-color: #ffffff;
}

.menu-container.is-open {
  display: none;
}

/*Меню - страницы*/
.header-nav-list {
  margin: 0;
  padding-left: 40px;
  list-style: none;
}

.header-nav-item:nth-child(-n+2) {
  margin-bottom: 35.7px;
  padding: 0;
}

.header-nav-link {
  text-decoration: none;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-nav-link:hover {
  color: #2196f3;
}

/*Меню - контакты*/
.header-contacts-list {
  list-style: none;
}

.header-contacts-item-tel {
  margin-top: 302px;
}

.header-contacts-link-tel {
  text-decoration: none;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.header-contacts-item-email {
  margin-top: 32px;
}

.header-contacts-link-email {
  text-decoration: none;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

/*Меню - Социальное*/
.social-media-list {
  margin-top: 64px;
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 20px;
}

.social-media-link {
  text-decoration: none;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

/*7 - ФУТЕР*/
.footer {
  background-color: #2f303a;
}

@media screen and (min-width: 768px) {
  .direction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 76px;
    padding-right: 89px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .direction .footer-contacts {
    margin-right: 165px;
  }
  .direction .footer-socials {
    margin-top: 0px;
  }
  .direction .footer-email {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1600px) {
  .direction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .direction .footer-contacts {
    margin-right: 70px;
  }
  .direction .footer-socials {
    margin-top: 0px;
    margin-right: 93px;
  }
  .direction .footer-email {
    margin-top: 0px;
  }
}
/*Лого*/
.footer-logo {
  display: block;
  font-family: Raleway, Arial, sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 1600px) {
  .footer-logo {
    font-size: 26px;
    line-height: 31px;
    text-align: left;
  }
}

.footer-logo-accent {
  font-family: Raleway, Arial, sans-serif;
  color: #2196f3;
}

/*Адрес*/
.footer-address {
  margin-top: 20px;
  padding: 0;
}

.footer-address-item_location {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}
@media screen and (min-width: 1600px) {
  .footer-address-item_location {
    text-align: left;
  }
}

.footer-address-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-address-item-email {
  margin-top: 8px;
}
@media screen and (min-width: 1600px) {
  .footer-address-item-email {
    margin-top: 9px;
  }
}

.footer-address-item-phone {
  margin-top: 8px;
}
@media screen and (min-width: 1600px) {
  .footer-address-item-phone {
    margin-top: 9px;
  }
}

.footer-address-link {
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1600px) {
  .footer-address-link {
    text-align: left;
  }
}

/*Социалки*/
.footer-socials {
  margin-top: 60px;
}

.footer-socials-title {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.webstudio-socials-list {
  list-style: none;
  margin: 0;
  margin-top: 16px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.webstudio-socials-list-item {
  margin: 0;
  padding: 0;
}

.webstudio-socials-list-link {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.webstudio-socials-list-link:hover {
  background-color: #2196f3;
  border-radius: 50%;
}

.webstudio-social-icon {
  display: block;
  margin: 10px;
  padding: 0;
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.webstudio-socials-list-link:hover .webstudio-social-icon {
  fill: #ffffff;
}

/*Подпись на рассылку*/
.footer-email {
  margin-top: 60px;
}

.footer-email-title {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1600px) {
  .footer-email-title {
    text-align: left;
  }
}

.footer-email-input {
  margin-top: 20px;
}

.footer-email-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.footer-email-input input {
  padding: 15px 16px;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .footer-email-input input {
    min-width: 450px;
  }
}
@media screen and (min-width: 1600px) {
  .footer-email-input input {
    min-width: 358px;
  }
}
@media screen and (min-width: 1600px) {
  .footer-email-input {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 12px;
  }
}
.footer-email-input .footer-email-input input:hover {
  border: 1px solid #2196f3;
}
.footer-email-input .form-input-btn-email {
  margin: 0 auto;
  padding: 10px 24px;
  width: 200px;
  height: 50px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}
.footer-email-input .test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-email-input .subscribe {
  display: block;
  margin-right: 12px;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.footer-email-input .icon-icon-send {
  display: block;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

/*Студио Пейдж*/
/*2 - СЕКЦИЯ ГЕРОЙ*/
.section-hero {
  padding-top: 118px;
  padding-bottom: 118px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 480px;
  height: 400px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Header_img1600.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header_img1600.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .section-hero {
    max-width: 768px;
    height: 400px;
    margin: 0 auto;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Header_img768.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header_img768.jpg);
  }
}
@media screen and (min-width: 1600px) {
  .section-hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Header_img1600.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header_img1600.jpg);
  }
}

.section-hero-title {
  font-family: Roboto, Arial, sans-serif;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .section-hero-title {
    width: 360px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1600px) {
  .section-hero-title {
    width: 696px;
    font-size: 44px;
    line-height: 60px;
  }
}

.section-hero-button {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  padding: 10px 24px;
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 1600px) {
  .section-hero-button {
    padding: 10px 32px;
    width: 216px;
  }
}

/*---------------------БЕКДРОП----------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity 1250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 1250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 1250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 1250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 1250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 1250ms cubic-bezier(0.4, 0, 0.2, 1), transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 1250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 1250ms cubic-bezier(0.4, 0, 0.2, 1), transform 1250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 450px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1600px) {
  .modal {
    width: 528px;
  }
}

.close-modal-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000000;
  background-color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal-btn:hover {
  color: #2196f3;
  cursor: pointer;
}

.btn-close {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

/*------------------Формы в модалке!!!!!!!!! Модуль 6---------------------*/
.form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 40px 40px 40px;
}

.form-title {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #212121;
}

/*--ФОРМ ФИЛД ОБЩИЙ--*/
.form-field {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  /*--Отвечает за квадратик слева, а текст справа--*/
}
.form-field:nth-of-type(4) {
  margin-bottom: 20px;
}
.form-field:nth-of-type(1) {
  position: relative;
}
.form-field:nth-of-type(2) {
  position: relative;
}
.form-field:nth-of-type(3) {
  position: relative;
}
.form-field:nth-of-type(5) {
  margin-bottom: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-field .label-name-tel-email-comm {
  margin-bottom: 4px;
}

.form-field .form-input {
  margin: 0;
  padding: 13px 14px 13px 43px; /*задала отступ для того, чтобы помещалась s*/
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field .form-input:hover,
.form-field .form-input:focus {
  border: 1px solid #2196f3;
}

.form-field .label-name-tel-email-comm {
  font-size: 12px;
  line-height: 14px;
  color: #757575;
}

textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  color: rgba(117, 117, 117, 0.5);
}

textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 14px;
  color: rgba(117, 117, 117, 0.5);
}

textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  color: rgba(117, 117, 117, 0.5);
}

textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  color: rgba(117, 117, 117, 0.5);
}

textarea::placeholder {
  font-size: 12px;
  line-height: 14px;
  color: rgba(117, 117, 117, 0.5);
}

.comment {
  padding: 12px 16px;
  resize: none;
  width: 370px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment:hover {
  border: 1px solid #2196f3;
}
@media screen and (min-width: 1600px) {
  .comment {
    width: 448px;
  }
}

/*--Кнопака--*/
.form-input-btn-submit {
  margin: 0 auto;
  margin-top: 30px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  display: block; /*для кнопок баттон и ссылок-кнопок - обязательно*/
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 52px;
  border-width: 0px;
  border-style: none;
  text-align: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-btn-submit:hover, .form-input-btn-submit:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*--SVG--*/
.icon-name {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 15px;
  bottom: 14px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus ~ .icon-name, .form-input:hover ~ .icon-name, .icon-name:hover {
  fill: #188ce8;
}

.icon-tel {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 15px;
  bottom: 14px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus ~ .icon-tel, .form-input:hover ~ .icon-tel, .icon-tel:hover {
  fill: #188ce8;
}

.icon-mail {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 15px;
  bottom: 14px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus ~ .icon-mail, .form-input:hover ~ .icon-mail, .icon-mail:hover {
  fill: #188ce8;
}

input:focus-visible,
textarea:focus-visible {
  outline: 1px solid #2196f3;
}

/*--Кнопака--*/
.form-input-btn-email {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  display: inline-block; /*для кнопок баттон и ссылок-кнопок - обязательно*/
  min-width: 200px;
  min-height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 13px 28px;
  border-width: 0px;
  border-style: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-btn-email:hover, .form-input-btn-email:focus {
  background-color: #188ce8;
}

.test {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe {
  display: block;
  width: 110px;
  height: 30px;
  margin-right: 10px;
}

.icon-icon-send {
  display: block;
  width: 24px;
  height: 24px;
}

/*ШРИФТЫ И РАЗМЕР ЛЕЙБЛА */
.label-policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  /*шрифты в лейбле*/
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0px;
  color: #757575;
}
.label-policy a {
  /*шрифты в лейбле, где ссылка*/
  color: #2196f3;
}

/*------САМ ЧЕК БОКС ОТРАБАТЫВАЕМ----*/
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.icon-icon-check {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 9px;
}
.checkbox:checked ~ .icon-icon-check {
  visibility: hidden;
}

.icon-icon-checked {
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  visibility: hidden;
}
.checkbox:checked + .icon-icon-checked {
  visibility: visible;
}

/*3 - ОСОБЕННОСТИ*/
.section-specials__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .section-specials__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section-specials__item {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .section-specials__item {
    width: 354px;
  }
}
@media screen and (min-width: 1600px) {
  .section-specials__item {
    width: 270px;
  }
}

.section-specials__item:nth-child(n+2) {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .section-specials__item:nth-child(n+2) {
    margin-top: 0; /*на 768 обнулили*/
  }
}

@media screen and (min-width: 768px) {
  .section-specials__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
  .section-specials__item:nth-child(1),
.section-specials__item:nth-child(3) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1600px) {
  .section-specials__item:nth-child(2) {
    margin-right: 30px;
  }
  .section-specials__item:nth-child(-n+2) {
    margin-bottom: 0px;
  }
}
.section-specials__item:before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon-antenna::before {
  background-image: url(../images/antenna1.svg);
}

.icon-clock::before {
  background-image: url(../images/clock1.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram1.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut1.svg);
}

.section-specials__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
@media screen and (min-width: 768px) {
  .section-specials__title {
    text-align: left;
  }
}

.section-specials__description {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

/*4 - ЧЕМ МЫ ЗАНИМАЕМСЯ - СКРЫТА*/
.section-tasks {
  display: none;
}
@media screen and (min-width: 480px) {
  .section-tasks {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .section-tasks {
    display: none;
  }
}
@media screen and (min-width: 1600px) {
  .section-tasks {
    display: block;
    padding-top: 24px;
  }
}

/*Все стили для секции, как мы работаем*/
@media screen and (min-width: 1600px) {
  .section-tasks__title {
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
  .section-tasks__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
  .section-tasks__item {
    position: relative;
  }
  .section-tasks__item-img {
    display: block;
  }
  .section-tasks__item-img-overlay {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: rgba(47, 48, 58, 0.8);
    padding: 27px 80px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}
/*5 - НАША КОМАНДА*/
.section-team {
  background-color: #f5f4fa;
}

.section-team-title {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-family: #212121;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1600px) {
  .section-team-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 42px;
  }
}

.section-team-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .section-team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1600px) {
  .section-team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}

/*Карточка*/
.section-team-item {
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.section-team-item:nth-child(-n+3) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .section-team-item:nth-child(-n+3) {
    margin-bottom: 0px; /*обнулили на 768*/
  }
}
@media screen and (min-width: 1600px) {
  .section-team-item:nth-child(-n+3) {
    margin-bottom: 0px; /*обнулили на 1600*/
  }
}

.section-team-item:nth-child(n+2) {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .section-team-item:nth-child(n+2) {
    margin-top: 0; /*на 768 обнулили*/
  }
}
@media screen and (min-width: 1600px) {
  .section-team-item:nth-child(n+2) {
    margin-top: 0; /*на 768 обнулили*/
  }
}

@media screen and (min-width: 768px) {
  .section-team-item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
  .section-team-item:nth-child(1),
.section-team-item:nth-child(3) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1600px) {
  .section-team-item:nth-child(-n+2) {
    margin-bottom: 0px;
  }
  .section-team-item:nth-child(1),
.section-team-item:nth-child(3) {
    margin-right: 0px;
  }
}
.section-team-item-img {
  max-width: 100%;
}
@media screen and (min-width: 480px) {
  .section-team-item-img {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .section-team-item-img {
    width: 354px;
  }
}
@media screen and (min-width: 1600px) {
  .section-team-item-img {
    width: 270px;
  }
}

/*Имя фамилия*/
.collegues {
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.section-team-name {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.section-team-description {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/*Cоциалки*/
.socials-list {
  list-style: none;
  margin: 0;
  margin-top: 16px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials-list-item {
  margin: 0;
  padding: 0;
}

.socials-list-item:nth-child(-n+3) {
  margin-right: 10px;
}

.socials-list-link {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
}

.socials-list-link:hover {
  background-color: #2196f3;
  border-radius: 50%;
}

.social-icon {
  display: block;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.socials-list-link:hover .social-icon {
  fill: #ffffff;
}

/*6 - ПОСТОЯННЫЕ КЛИЕНТЫ*/
.section-clients-title {
  margin: 0;
  padding-bottom: 30px;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1600px) {
  .section-clients-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 42px;
    padding-bottom: 0px;
  }
}

.clients-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1600px) {
  .clients-list {
    gap: 30px;
  }
}

.clients-list-item {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 480px) {
  .clients-list-item {
    width: 210px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .clients-list-item {
    width: 210px;
  }
}
@media screen and (min-width: 1600px) {
  .clients-list-item {
    width: 170px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
}

.clients-list-item:nth-child(2n) {
  margin-right: 0px;
}
@media screen and (min-width: 768px) {
  .clients-list-item:nth-child(2n) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1600px) {
  .clients-list-item:nth-child(2n) {
    margin-right: 0px;
  }
}

.clients-list-item:nth-child(5) {
  margin-bottom: 0px;
}

.clients-list-item:nth-child(6) {
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .clients-list-item:nth-child(6) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 768px) {
  .clients-list-item:nth-child(3) {
    margin-right: 0px;
  }
  .clients-list-item:nth-child(4) {
    margin-bottom: 0px;
  }
}
.clients-list-link {
  margin: 0;
  padding: 16px 52px;
  display: block;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
@media screen and (min-width: 1600px) {
  .clients-list-link {
    padding: 16px 32px;
  }
}

.clients-list-link:hover {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.client-icon {
  margin: 0;
  padding: 0;
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.clients-list-link:hover .client-icon {
  fill: #2196f3;
}

/*Фильтры Пейдж*/
/*Общая секция для декораций*/
/*Кнопки фильтра*/
.section-filters-btn-list {
  list-style: none;
  margin: 0;
  margin-bottom: 46px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}
@media screen and (min-width: 1600px) {
  .section-filters-btn-list {
    gap: 30px;
  }
}
@media screen and (min-width: 1600px) {
  .section-filters-btn-list {
    margin-bottom: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}

.section-filters-btn-list-btn {
  padding: 6px 22px;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border: none;
  background: #f5f4fa;
  border-radius: 4px;
}

.section-filters-btn-list-btn:hover {
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-portfolio-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .section-portfolio-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0px;
  }
}

.section-portfolio-item {
  width: 450px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .section-portfolio-item {
    width: 354px;
  }
}
@media screen and (min-width: 1600px) {
  .section-portfolio-item {
    width: 370px;
  }
}

@media screen and (min-width: 768px) {
  .section-portfolio-item:nth-child(n) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .section-portfolio-item:nth-child(2n) {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .section-portfolio-item:nth-child(9) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1600px) {
  .section-portfolio-item:nth-child(n) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .section-portfolio-item:nth-child(2n) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .section-portfolio-item:nth-child(3n) {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .section-portfolio-item:nth-child(7),
.section-portfolio-item:nth-child(8),
.section-portfolio-item:nth-child(9) {
    margin-bottom: 0px;
  }
}
/*Коробка для карточки портфоли*/
.portfolio-box {
  width: 450px;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .portfolio-box {
    width: 354px;
  }
}
@media screen and (min-width: 1600px) {
  .portfolio-box {
    width: 370px;
  }
}

/*Картинка*/
.section-portfolio-item-link {
  text-decoration: none;
}

.section-portfolio-item-img {
  margin: 0;
  padding: 0;
  display: block;
  width: 450px;
  height: 294px;
}
@media screen and (min-width: 768px) {
  .section-portfolio-item-img {
    width: 354px;
  }
}
@media screen and (min-width: 1600px) {
  .section-portfolio-item-img {
    width: 370px;
  }
}

/*Выпадающий слой*/
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .portfolio-overlay {
    padding: 49px 24px;
  }
}

.section-portfolio-item-link:hover .portfolio-overlay {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.portfolio-overlay-message {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/*Подпись к картинке*/
.card {
  margin: 0;
  padding: 0;
  padding: 20px 24px;
}

.section-portfolio-item-title {
  margin: 0;
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.section-portfolio-item-description {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */