/*ПЕРЕМЕННЫЕ*/
$main-font: Roboto, Arial, sans-serif;
$logo-font: Raleway, Arial, sans-serif;

$logo-color-accent: #2196f3;
$logo-color-basic: #212121;

$hero-message-color: #ffffff;
$button-name-color: #ffffff;

$title-color: #212121;
$description-color: #757575;

$dark-background-color: #2f303a;

/*Переменные расширений*/
