/*ПЕРЕМЕННЫЕ*/
$main-font: Roboto, Arial, sans-serif;
$logo-font: Relaway, Arial, sans-serif;

$logo-color-accent: #2196f3;
$logo-color-basic: #212121;

$hero-message-color: #ffffff;
$button-name-color: #ffffff;

$title-color: #212121;
$description-color: #757575;

/*ОБЩИЕ КОНТЕЙНЕРЫ (по медиа)*/
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
    /*border: 1px solid tomato;*/
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    border: 1px solid blue;
  }

  @media screen and (min-width: 1600px) {
    width: 1600px;
    border: 1px solid green;
  }
}

.section {
  border: 2px dashed blue;
  padding-top: 60px;
  padding-bottom: 60px;
}

/*--------------------СТАРТОВАЯ СТРАНИЦА-------------------*/

/*1 - ХЕДЕР*/

.header {
  border: 2px dashed blue;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*ЛОГО*/
.header-logo {
  display: block;
  font-family: $logo-font;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: $logo-color-basic;
}
.header-logo-accent {
  font-family: $logo-font;
  color: $logo-color-accent;
}
/*БУРГЕР МЕНЮ*/
.burger-button {
  width: 40px;
  height: 40px;
}

/*2 - СЕКЦИЯ ГЕРОЙ*/

.section-hero {
  padding-top: 118px;
  padding-bottom: 118px;
  display: flex;
  max-width: 480px;
  height: 400px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../../images/Header\ img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-hero-title {
  font-family: $main-font;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $hero-message-color;

  margin: 0 0;
  margin-bottom: 30px;
}
.section-hero-button {
  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: $button-name-color;

  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  padding: 10px 24px;

  display: block;
  margin: 0 auto;
}

/*3 - ОСОБЕННОСТИ*/
.section-specials__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-specials__item {
  margin: 0;
  padding: 0;
}

.section-specials__item:nth-child(n + 2) {
  margin-top: 30px;
}

.section-specials__item:before {
  content: '';
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon-antenna::before {
  background-image: url(../images/antenna1.svg);
}
.icon-clock::before {
  background-image: url(../images/clock1.svg);
}
.icon-diagram::before {
  background-image: url(../images/diagram1.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut1.svg);
}

.section-specials__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-color;
}

.section-specials__description {
  margin: 0;
  padding: 0;

  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $description-color;
}

/*4 - ЧЕМ МЫ ЗАНИМАЕМСЯ - СКРЫТА*/

/*5 - НАША КОМАНДА*/
.section-team {
  background-color: #f5f4fa;
}

.section-team-title {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  font-family: $title-color;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;

  text-align: center;
  letter-spacing: 0.03em;
}

.section-team-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Карточка*/
.section-team-item {
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.section-team-item:nth-child(-n + 3) {
  margin-bottom: 30px;
}

.section-team-item-img {
  width: 450px;
  height: 460px;
  justify-content: center;
}

/*Имя фамилия*/
.collegues {
  margin: 0;
  padding: 0;
  margin-top: 30px;
}
.section-team-name {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;
  color: $title-color;
}
.section-team-description {
  margin: 0;
  padding: 0;

  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;
  color: $description-color;
}

/*Cоциалки*/
.socials-list {
  list-style: none;
  margin: 0;
  margin-top: 16px;
  padding: 0;
  display: flex;
  justify-content: center;
}
.socials-list-item {
  margin: 0;
  padding: 0;
}

.socials-list-item:nth-child(-n + 3) {
  margin-right: 10px;
}
.socials-list-link {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
}

.socials-list-link:hover {
  background-color: $logo-color-accent;
  border-radius: 50%;
}

.social-icon {
  display: block;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.socials-list-link:hover .social-icon {
  fill: #ffffff;
}

/*6 - ПОСТОЯННЫЕ КЛИЕНТЫ*/
.section-clients-title {
  margin: 0;
  padding-bottom: 30px;

  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-color;
}

.clients-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.clients-list-item {
  margin: 0;
  padding: 0;
  width: 210px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.clients-list-item:nth-child(2n) {
  margin-right: 0px;
}

.clients-list-item:nth-child(5) {
  margin-bottom: 0px;
}
.clients-list-item:nth-child(6) {
  margin-bottom: 0px;
}

.clients-list-link {
  margin: 0;
  padding: 16px 52px;

  display: block;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-list-link:hover {
  border: 1px solid $logo-color-accent;
  border-radius: 4px;
}

.client-icon {
  margin: 0;
  padding: 0;
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.clients-list-link:hover .client-icon {
  fill: $logo-color-accent;
}
