/*ПЕРЕМЕННЫЕ*/
$main-font: Roboto, Arial, sans-serif;
$logo-font: Relaway, Arial, sans-serif;

$logo-color-accent: #2196f3;
$logo-color-basic: #212121;

$hero-message-color: #ffffff;
$button-name-color: #ffffff;

$title-color: #212121;
$description-color: #757575;

/*ОБЩИЕ КОНТЕЙНЕРЫ (по медиа)*/
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
    border: 1px solid tomato;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    border: 1px solid blue;
  }

  @media screen and (min-width: 1600px) {
    width: 1600px;
    border: 1px solid green;
  }
}

.section {
  border: 2px dashed blue;
  padding-top: 60px;
  padding-bottom: 60px;
}

/*--------------------СТАРТОВАЯ СТРАНИЦА-------------------*/

/*1 - ХЕДЕР*/

.header {
  border: 2px dashed blue;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*ЛОГО*/
.header-logo {
  display: block;
  font-family: $logo-font;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: $logo-color-basic;
}
.header-logo-accent {
  font-family: $logo-font;
  color: $logo-color-accent;
}
/*БУРГЕР МЕНЮ*/
.burger-button {
  width: 40px;
  height: 40px;
}

/*2 - СЕКЦИЯ ГЕРОЙ*/

.section-hero {
  display: flex;
  max-width: 480px;
  height: 400px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(/images/Header\ img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-hero-title {
  font-family: $main-font;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $hero-message-color;

  margin: 0 0;
  margin-bottom: 30px;
}
.section-hero-button {
  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: $button-name-color;

  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  padding: 10px 24px;

  display: block;
  margin: 0 auto;
}

/*3 - ОСОБЕННОСТИ*/
.section-specials__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-specials__item {
  margin: 0;
  padding: 0;
  border: 1px solid red;
}
.section-specials__item:before {
  content: url(/images/antenna1.svg);
}

.section-specials__title {
  margin: 0;
  padding: 0;

  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-color;
}

.section-specials__description {
  margin: 0;
  padding: 0;

  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $description-color;
}
