.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

  @media screen and (min-width: 480px) {
    width: 480px;
    border: 1px solid tomato;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    border: 1px solid blue;
  }

  @media screen and (min-width: 1600px) {
    width: 1600px;
    border: 1px solid green;
  }
}
