//цвет основных фонов//
$background-header: #ffffff;
$background-footer: #2f303a;
/*--background-main-color: #e5e5e5 - уже есть в body #757575;*/

//цвет фонов отдельных блоков//
$background-hero: #2f303a;
$background-team: #f5f4fa;

//цвет фона кнопок//
$button-background-filter: #f5f4fa;
$button-background-filter-hover-accent: #2196f3;
$button-background-order: #2196f3;

//цвет текста лого//
$logo-light: #ffffff;
$logo-dark: #000000;
$logo-accent: #2196f3;

//цвет текста hero//
$hero-title-color: #ffffff;

//цветет текста кнопок фильтр//
$button-filter-hover-accent: #ffffff;
$button-filter-color: #212121;

//цвет текста кнопки Заказать услугу//
$button-order-color: #ffffff;

//цветет текста ссылок навигации//
$link-hover-accent: #2196f3;
$link-color: #212121;

//цветет адреса и телефона в header//
$link-contacts-hover-accent: #2196f3;
//--link-contact: - уже есть в body #757575;//

//цвет заглавий и описани//
$text-title-color: #212121;
//--text-descriptiom-color: #757575; - уже есть в body//



$secondary-font: 'Raleway';
