/*Fonts*/
$main-font: 'Roboto';
$logo-font: 'Raleway';

/*Colors*/
$logo-accent: #2196f3;
$logo-white: #ffffff;
$logo-black: #212121;
/*white texts*/
$light-text: #ffffff;
/*dark texts*/
$title-text: #212121;
$description-text: #757575;
/*white texts with shadows*/
$footer-address-shadowcolor: rgba(255, 255, 255, 0.6);

/*Objects*/
/*buttons*/
$bottom-blue: #2196f3;
/*backgrounds*/
$footer-socials-backgroun: rgba(255, 255, 255, 0.1);
$footer-background: #2f303a;
/*clients*/
$clients-border: #afb1b8;
$clients-svg: #afb1b8;
$clients-accent: #2196f3;
/*socials*/
$socials-team: #afb1b8;
$socials-team-accent: #2196f3;
