/*1 - ХЕДЕР*/

/*ЛОГО*/
.header-logo {
  display: block;
  font-family: $logo-font;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: $logo-color-basic;

  @media screen and (min-width: 1600px) {
    font-size: 26px;
    line-height: 31px;
  }
}

.header-logo-accent {
  font-family: $logo-font;
  color: $logo-color-accent;
}
