/*---------------------------------------МЕНЮ КОНТЕЙНЕР---------------------------------------*/
.header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
  position: relative;

  @media screen and (min-width: 768px) {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  @media screen and (min-width: 1600px) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.menu-container {
  background-color: #ffff;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  padding-left: 40px;
  padding-bottom: 48px;
  z-index: 1000;

  @media screen and (min-width: 768px) {
    position: initial;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-left: 88px;
    display: flex;
  }

  @media screen and (min-width: 1600px) {
    position: initial;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-left: 93px;
  }
}

/*---------------------------------------Бургер меню--------------------------------------*/
.menu-button {
  /*кнопка есть до 767*/
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;

  @media screen and (min-width: 768px) {
    /*кнопки нет с 768*/
    display: none;
  }
}

.menu-button-switch {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 24px;
}

/*Условия для бургер меню*/
.menu-button.is-open .icon-close {
  display: none;
}
.menu-button.is-open .icon-open {
  /*изначально черточки*/
  display: block;
}
.menu-button .icon-open {
  display: none;
}
.menu-button .icon-close {
  /*при нажатии на черточки - крестик*/
  display: block;
}

/*Условия для меню*/
.menu-container.is-open {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-end;
  }

  @media screen and (min-width: 1600px) {
    display: flex;
    justify-content: flex-end;
  }
}

/*---------------------------------------НАВИГАЦИЯ И КОНТАКТЫ в конт.------------------------------*/

/*---------------------------------------------------НАВИГАЦИЯ--------------------------------*/
.header-nav {
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1600px) {
  }
}
.header-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 45px;
  }
  @media screen and (min-width: 1600px) {
    display: flex;
    gap: 47px;
  }
}
.header-nav-item {
  @media screen and (max-width: 480px) {
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 480px) {
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 768px) {
    padding: 21px 0;
    margin-bottom: 0px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 1600px) {
    padding: 32px 0;
    margin-bottom: 0px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}
.header-nav-link {
  text-decoration: none;

  @media screen and (max-width: 480px) {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #212121;
  }
  @media screen and (min-width: 480px) {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #212121;
  }
  @media screen and (min-width: 768px) {
    padding: 21px 0px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
  }
  @media screen and (min-width: 1600px) {
    padding: 29.5px 0px;
  }
}
.current-page {
  @media screen and (min-width: 480px) {
    color: #2196f3;
  }
  @media screen and (min-width: 768px) {
    border-bottom: 4px solid #2196f3;
    color: #2196f3;
  }
  @media screen and (min-width: 1600px) {
    border-bottom: 4px solid #2196f3;
    color: #2196f3;
  }
}

/*---------------------------------------------------КОНТАКТЫ--------------------------------*/
.header-contacts-list {
  list-style: none;
  margin: 0;
  padding: 0;
  @media screen and (max-width: 480px) {
    margin-top: 302px;
  }
  @media screen and (min-width: 480px) {
    margin-top: 302px;
  }
  @media screen and (min-width: 768px) {
    padding: 12.5px 0px;
    display: flex;
    margin-top: 0px;
    margin-left: 90px;
    flex-direction: column;
  }
  @media screen and (min-width: 1600px) {
    padding: 32px 0px;
    margin-left: 312px;
    flex-direction: row;
  }
}
.header-contacts-item {
  @media screen and (max-width: 480px) {
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 480px) {
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 1600px) {
    margin-bottom: 0px;
    margin-right: 32px;
    &:last-child {
      margin-bottom: 0px;
      margin-right: 0px;
    }
  }
}

.header-contacts-link {
  text-decoration: none;
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1600px) {
  }
}

.icon-envelope {
  fill: #757575;
  width: 14px;
  height: 10px;
  /*не видно ДО 480 включительно*/
  @media screen and (max-width: 480px) {
    display: none;
  }
  /*не видно ОТ 480 включительно*/
  @media screen and (min-width: 480px) {
    display: none;
  }
  /*видно ОТ 768 включительно*/
  @media screen and (min-width: 768px) {
    display: initial;
  }
}

.icon-smartphone {
  fill: #757575;
  width: 10px;
  height: 14px;
  /*не видно ДО 480 включительно*/
  @media screen and (max-width: 480px) {
    display: none;
  }
  /*не видно ОТ 480 включительно*/
  @media screen and (min-width: 480px) {
    display: none;
  }
  /*видно ОТ 768 включительно*/
  @media screen and (min-width: 768px) {
    display: initial;
  }
}

.email-text,
.phone-text {
  @media screen and (min-width: 480px) {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #757575;
    margin-left: 8px;
  }
  @media screen and (min-width: 1600px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    margin-left: 10px;
  }
}
