/*---------------------------------------МЕНЮ КОНТЕЙНЕР---------------------------------------*/
.header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
  position: relative;

  @media screen and (min-width: 768px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  @media screen and (min-width: 1600px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.menu-container {
  background-color: #ffff;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  padding-left: 40px;
  padding-bottom: 48px;

  @media screen and (min-width: 768px) {
    position: initial;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-left: 88px;
  }

  @media screen and (min-width: 1600px) {
    position: initial;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-left: 93px;
  }
}

/*---------------------------------------Бургер меню--------------------------------------*/
.menu-button {
  /*кнопка есть до 767*/
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;

  @media screen and (min-width: 768px) {
    /*кнопки нет с 768*/
    display: none;
  }
}

.menu-button-switch {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 24px;
}

/*Условия для бургер меню*/
.menu-button.is-open .icon-close {
  display: none;
}
.menu-button.is-open .icon-open {
  /*изначально черточки*/
  display: block;
}
.menu-button .icon-open {
  display: none;
}
.menu-button .icon-close {
  /*при нажатии на черточки - крестик*/
  display: block;
}

/*Условия для меню*/
.menu-container.is-open {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 85px;
    align-items: center;
  }

  @media screen and (min-width: 1600px) {
    display: flex;
    gap: 315px;
    align-items: center;
  }
}

/*---------------------------------------НАВИГАЦИЯ И КОНТАКТЫ в конт.------------------------------*/

/*------------Декорируем меню---------*/
.header-nav {
  margin: 0;
  padding: 0;
}
.header-nav-list {
  list-style: none;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 50px;
    margin: auto 0;
  }
}
.header-nav-item {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}

.header-nav-link {
  display: block;
  font-family: $main-font;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $title-color;

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
}

.current-page {
  color: $logo-color-accent;
  @media screen and (min-width: 768px) {
    border-bottom: 4px solid $logo-color-accent;
    border-radius: 2px;
  }
}
/*------------Декорируем список контактов------------*/
.header-contacts-list {
  list-style: none;
  margin: 0;
  margin-top: 306px;
  padding: 0;

  @media screen and (min-width: 768px) {
    margin-top: 0px;
  }

  @media screen and (min-width: 1600px) {
    margin-top: 0px;
    display: flex;
    gap: 30px;
  }
}

.header-contacts-item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.phone-text,
.email-text {
  display: block;
}

.header-contacts-link {
  display: flex;
  font-family: $main-font;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: $logo-color-accent;
  text-decoration: none;

  @media screen and (min-width: 768px) {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #757575;
  }
}

.icon-envelope {
  display: block;
  margin-right: 8px;
  width: 10px;
  height: 14px;
  fill: #757575;

  @media screen and (max-width: 767px) {
    display: none;
  }
}
.icon-smartphone {
  display: block;
  margin-right: 8px;
  width: 14px;
  height: 10px;
  fill: #757575;

  @media screen and (max-width: 767px) {
    display: none;
  }
}
